table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 200px;
}

th,
td {
    padding: 5px;
}

table {
    width: 100%;
}

.block {
    display: block;
    width: 100%;
    border: none;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.margins {
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
}